<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!--<link rel="stylesheet" type="text/css" href="dist/antui.min.css" media="all">-->
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>
    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/loading.css,widget/switch.css,widget/card.css,icon/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script charset="utf-8" src="__JS__/common.js"></script>
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>
    <title>欢迎使用深澜 SRUNBOX</title>
    <style>
        .select li, .current{
           width: 90%;
            text-indent:1%;
            height:35px;
            margin: 0 auto;
            line-height: 35px;
        }
    </style>
</head>
<body>
<div class="widget-demo-show-panel" style="display: block">
    <div class="demo demo-list">
        <div class="am-list">
            <div class="am-list-body">
                <div class="am-list-item">
                    <div class="am-list-content">是否重新启用VPN</div>
                    <button class="am-button tiny-blue" id="able">重启</button>
                    <!--<div class="am-switch">-->
                        <!--<input type="checkbox" name="is_enable" id="is_enable" class="am-switch-checkbox">-->
                        <!--<label class="am-switch-label">-->
                            <!--<div class="am-switch-inner"></div>-->
                            <!--<div class="am-switch-switch"></div>-->
                        <!--</label>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="am-list">
            <div class="am-list-header" id="list-header-2" style="font-size: 16px;">查看VPN的详细信息</div>
            <div class="am-list-body" aria-labelledby="list-header-1">
                <div >
                    <div class="am-list-item">
                        <div class="am-list-content">可用server</div>
                        <!--<div class="am-list-extra" id="all_server"></div>-->
                    </div>
                    <div class="select">
                        <ul id="ul">
                            <li>SRUN_VPN</li>
                            <li>SRUN_VPN2.2</li>
                            <li>SRUN</li>
                            <li>12344</li>
                        </ul>
                    </div>
                </div>
               <div>
                   <div class="am-list-item">
                       <div class="am-list-content">当前server</div>
                       <!--<div class="am-list-extra" id="current_server"></div>-->
                   </div>
                   <div class="current">SRUN</div>
               </div>
                <div>
                    <div class="am-list-item">
                        <div class="am-list-content">可用网段</div>
                        <!--<div class="am-list-extra" id="Available_network"></div>-->
                    </div>
                  <div class="select">
                      <ul id="oul">
                          <li>SRUN_VPN</li>
                          <li>SRUN_VPN2.2</li>
                          <li>SRUN</li>
                          <li>12344</li>
                      </ul>
                  </div>
                </div>
               <div>
                   <div class="am-list-item">
                       <div class="am-list-content">当前网段</div>
                       <!--<div class="am-list-extra" id="current_network"></div>-->
                   </div>
                   <div class="current">SRUN</div>
               </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
       $('#able').click(function () {
           toast_show('稍等片刻','loading',false);
           post(
               'v2/re-connect-vpn',
               {token: SS('token')},
               function (e) {
                   toast_hide();
                    if(e.code === 200){
                       toast_show(e.msg);
                   }
                   if (e.code !== 4000) {
                       stop = true;
                        return false;
                   }
               },false
           );
        });
    })
</script>
</body>
</html>