<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!--<link rel="stylesheet" type="text/css" href="dist/antui.min.css" media="all">-->
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>
    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/loading.css,widget/switch.css,widget/card.css,icon/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script charset="utf-8" src="__JS__/common.js"></script>
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>
    <title>欢迎使用深澜 SRUNBOX</title>
    <style>
        .select li, .current{
           width: 90%;
            text-indent:1%;
            height:35px;
            margin: 0 auto;
            line-height: 35px;
        }
    </style>
</head>
<body>
<div class="widget-demo-show-panel" style="display: block">
    <div class="demo demo-list">
        <div class="am-list">
            <div class="am-list-body">
                <div class="am-list-item">
                    <div class="am-list-content">是否重新启用VPN</div>
                    <button class="am-button tiny-blue" id="able">重启</button>
                    <!--<div class="am-switch">-->
                        <!--<input type="checkbox" name="is_enable" id="is_enable" class="am-switch-checkbox">-->
                        <!--<label class="am-switch-label">-->
                            <!--<div class="am-switch-inner"></div>-->
                            <!--<div class="am-switch-switch"></div>-->
                        <!--</label>-->
                    <!--</div>-->
                </div>
            </div>
        </div>
        <div class="am-list">
            <div class="am-list-header" id="list-header-2" style="font-size: 16px;">查看VPN的详细信息</div>
            <div class="am-list-body" aria-labelledby="list-header-1">
                <div >
                    <div class="am-list-item">
                        <div class="am-list-content">当前VPN设置</div>
                        <!--<div class="am-list-extra" id="all_server"></div>-->
                    </div>
                    <div class="select">
                        <ul id="current_vpn">
                            <li id="proto">协议：</li>
                            <li id="defaultroute">路由：</li>
                            <li id="ssid">WiFi名称：</li>
                            <li id="current_server">当前vpn服务器：</li>
                            <li id="current_work_lan">当前网段：</li>
                            <li id="create_at">创建于：</li>
                            <li id="update_at">更新于：</li>
                        </ul>
                    </div>
                </div>
                <div >
                    <div class="am-list-item">
                        <div class="am-list-content">可用vpn服务器</div>
                        <!--<div class="am-list-extra" id="all_server"></div>-->
                    </div>
                    <div class="select">
                        <ul id="all_server">
                            <li>暂无数据</li>
                        </ul>
                    </div>
                </div>
                <div>
                    <div class="am-list-item">
                        <div class="am-list-content">可用网段</div>
                        <!--<div class="am-list-extra" id="Available_network"></div>-->
                    </div>
                  <div class="select">
                      <ul id="all_work_lan">
                          <li>暂无数据</li>
                      </ul>
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

    $(function () {
       $('#able').click(function () {
           toast_show('稍等片刻','loading',false);
           post(
               'v2/re-connect-vpn',
               {token: LS('token')},
               function (e) {
                   toast_hide();
                    if(e.code === 200){
                       toast_show(e.msg);
                   }
                   setTimeout("location.reload()",3000);
                   // if (e.code !== 4000) {
                   //     stop = true;
                   //      return false;
                   // }
               }
           );
        });

       // VPN详情
        toast_show('稍等片刻','loading',false);
        post(
            'v2/get-vpn-detail',
            {token:LS('token')},
            function (e) {
                toast_hide();
                if (e.code === 200){
                    // 组装all_server
                    var str_all_server = '';
                    for (var i in e.all_server){
                        str_all_server += '<li>' + e.all_server[i].vpnname + '(' + e.all_server[i].vpn_server + ')' + '</li>';
                    }

                    // 组装all_work_lan
                    var str_all_work_lan = '';
                    for (var j in e.all_work_lan){
                        str_all_work_lan += '<li>' + e.all_work_lan[j].partition_name + '(' + e.all_work_lan[j].work_lan + ')' + '</li>'
                    }

                    if (str_all_server !== ''){
                        $('#all_server').html(str_all_server);
                    }
                    if(e.current_server !== ''){
                        $('#current_server').append(e.current_server);
                    }
                    if(str_all_work_lan !== ''){
                        $('#all_work_lan').html(str_all_work_lan);
                    }
                    if(e.current_work_lan !== ''){
                        $('#current_work_lan').append(e.current_work_lan);
                    }
                    $('#proto').append(e.vpn_detail.proto);
                    $('#defaultroute').append(e.vpn_detail.defaultroute);
                    $('#ssid').append(e.vpn_detail.ssid);
                    $('#create_at').append(e.vpn_detail.create_at);
                    $('#update_at').append(e.vpn_detail.update_at);
                }else {
                    toast_show(e.msg);
                }
            }
        )
    })
</script>
</body>
</html>