<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!--<link rel="stylesheet" type="text/css" href="dist/antui.min.css" media="all">-->
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>

    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/loading.css,widget/card.css,icon/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script charset="utf-8" src="__JS__/common.js"></script>
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>

    <title>欢迎使用深澜 SRUNBOX</title>
</head>
<body>
<div class="widget-demo-show-panel" style="display: block">
    <div class="demo demo-list">
        <!-- 把ant ui的代码粘贴到这下面就行了 -->
        <div class="am-message result" role="alert">
            <div class="am-message-main">请填写新的名称或密码</div>
        </div>
        <div class="am-list am-list-form">
            <div class="am-list-header"></div>
            <div class="am-list-body">
                <div class="am-list-item am-input-autoclear">
                    <!--<div class="am-list-label" id="list-label-1">标签文本</div>-->
                    <div class="am-list-control">
                        <input id="wifi_name" required="required" type="text" placeholder="请填写wifi名称" value="{$wifi_name}" aria-labelledby="list-label-1" style="float:left;width: 93%;">
                    </div>
                    <div class="am-list-clear" tabindex="0" aria-label="清空输入框" aria-controls="demo-input-1">
                        <i class="am-icon-clear am-icon" aria-hidden="true"></i>
                    </div>
                </div>
                <div class="am-list-item am-input-autoclear">
                    <!--<div class="am-list-label" id="list-label-1">标签文本</div>-->
                    <div class="am-list-control">
                        <input id="new_pass" required="required" type="text" placeholder="请填写密码" value="{$pass}" aria-labelledby="list-label-1" style="float:left;width: 93%;">
                        <img id="demo_img" onclick="hideShowPsw()" src="__IMAGES__/invisible.png" style="width:20px; margin-top:5px;float:left;">
                    </div>
                    <div class="am-list-clear" tabindex="0" aria-label="清空输入框" aria-controls="demo-input-1">
                        <i class="am-icon-clear am-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-button-wrap">
            <a href="javascript:void(0)" class="am-button blue" id="submit" role="button">确定</a>
        </div>

    </div>
</div>

<script type="text/javascript">
    $('#submit').click(function () {
        var new_pass = $('#new_pass').val();
        var wifi_name = $('#wifi_name').val();
        post(
            'qr/reset-box-pass',
            {user_name:SS('user_name'),pass:new_pass,wifi_name:wifi_name},
            function (e) {
                if(e.code === 200){
                    toast_show(e.msg,'success');
                    window.history.back();
                    window.localStorage.setItem('token',JSON.stringify(e.token))
                }else {
                    toast_show(e.msg)
                }
            }
        )
    });

    var demoImg = document.getElementById("demo_img");
    var demoInput = document.getElementById("new_pass");
    function hideShowPsw(){
        if (demoInput.type == "password") {
            demoInput.type = "text";
            demoImg.src = "__IMAGES__/visible.png";
        }else {
            demoInput.type = "password";
            demoImg.src = "__IMAGES__/invisible.png";
        }
    }
</script>
</body>

</html>