<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!-- jquery common -->
    <script charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script charset="utf-8" src="__JS__/common.js"></script>
    <!-- bootstrap -->
    <link rel="stylesheet" href="__VENDOR__/bootstrap-datetimepicker-master/sample%20in%20bootstrap%20v3/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="__VENDOR__/bootstrap-datetimepicker-master/sample%20in%20bootstrap%20v3/bootstrap/css/bootstrap-theme.min.css">
    <script type="text/javascript" src="__VENDOR__/bootstrap-datetimepicker-master/sample%20in%20bootstrap%20v3/bootstrap/js/bootstrap.min.js"></script>
    <!-- date_time_picker -->
    <link rel="stylesheet" href="__VENDOR__/bootstrap-datetimepicker-master/css/bootstrap-datetimepicker.min.css">
    <script type="text/javascript" src="__VENDOR__/bootstrap-datetimepicker-master/js/bootstrap-datetimepicker.min.js"></script>
    <script type="text/javascript" src="__VENDOR__/bootstrap-datetimepicker-master/js/locales/bootstrap-datetimepicker.zh-CN.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="dist/antui.min.css" media="all">-->
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>

    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/loading.css,widget/card.css,icon/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>

    <title>欢迎使用深澜 SRUNBOX</title>
</head>
<body>
<div class="widget-demo-show-panel" style="display: block">
    <div class="demo demo-list">
        <!-- 把ant ui的代码粘贴到这下面就行了 -->
        <div class="am-message result" role="alert">
            <div class="am-message-main">请选择一个时间</div>
        </div>
        <div class="am-list am-list-form">
            <div class="am-list-header"></div>
            <div class="am-list-body">
                <div class="am-list-item am-input-autoclear">
                    <!--<div class="am-list-label" id="list-label-1">标签文本</div>-->
                    <div class="am-list-control">
                        <input id="stop_time" type="text" placeholder="到期时间" readonly class="form_datetime" value="" aria-labelledby="list-label-1">
                    </div>
                    <div class="am-list-clear" tabindex="0" aria-label="清空输入框" aria-controls="demo-input-1">
                        <i class="am-icon-clear am-icon" aria-hidden="true"></i>
                    </div>
                </div>
            </div>
        </div>

        <div class="am-button-wrap">
            <a href="javascript:void(0)" id="submit" class="am-button blue" role="button">确定</a>
        </div>



    </div>
</div>

<script type="text/javascript">
    $(".form_datetime").datetimepicker({language:'zh-CN',format: 'yyyy-mm-dd hh:ii:ss'});
</script>
<script type="text/javascript">
    $('#submit').click(function () {
        var stop_time = $('#stop_time').val();
        post(
            'qr/set-stop-time',
            {user_name:SS('user_name'),stop_time:stop_time},
            function (e) {
                if(e.code === 200){
                    toast_show(e.msg,'success');
                    window.history.back();
                }else {
                    toast_show(e.msg,'fail');
                }
            }
        )
    })
</script>
</body>

</html>