<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!--<link rel="stylesheet" type="text/css" href="dist/antui.min.css" media="all">-->
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>

    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/loading.css,widget/card.css,icon/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>

    <title>欢迎使用深澜 SRUNBOX</title>
</head>
<body>
<div class="widget-demo-show-panel" style="display: block">
    <div class="demo demo-list">
        <!-- 把ant ui的代码粘贴到这下面就行了 -->

    </div>
</div>

<div class="am-loading page" style="display: none">
    <i class="am-icon loading" aria-hidden="true"></i>
    <div class="am-loading-text">加载中</div>
</div>

<div class="am-toast" role="alert" aria-live="assertive" style="display: none">
    <div class="am-toast-text">
        <span class="am-icon toast warn" aria-hidden="true"></span>
        <span class="my_text"></span>
    </div>
</div>

<script charset="utf-8" src="../dist/jquery.min.js"></script>
<script charset="utf-8" src="../dist/common.js"></script>
</body>

</html>