<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <meta name="format-detection" content="email=no">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
    <!-- 主文件 -->
    <link rel="stylesheet" href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/antui.css"/>

    <!-- 组件 -->
    <link rel="stylesheet"
          href="https://a.alipayobjects.com/g/antui/antui/10.0.18/dpl/??widget/message.css,widget/notice.css,widget/page-result.css,widget/toast.css"/>

    <!-- js -->
    <script src="https://a.alipayobjects.com/g/antui/antui/10.0.18/antui.js"></script>
    <title>在线支付</title>
    <style>
        .k_cz button{
            display: block;
            float: left;
            margin:3%;
        }
        .k_cz button:hover{
            background-color:#108EE9 ;
            color: #fff;
        }
    </style>
</head>
<body>
<div class="widget-demo-show-panel">
    <div class="demo demo-list">
        <form action="/index/pay/payrequest" method="get">

            <input type="hidden" name="user_name" value="">

            <div class="am-list am-list-form">
                <div class="am-list-header">充值</div>
                <div class="am-list-body">
                    <div class="am-list-item am-input-autoclear">
                        <div class="am-list-label" id="list-label-1">充值金额</div>
                        <div class="am-list-control">
                            <input name="amount" id="amount" type="text" placeholder="金额" value=""
                                   aria-labelledby="list-label-1">
                        </div>
                        <div class="am-list-clear" tabindex="0" aria-label="清空输入框" aria-controls="amount">
                            <i class="am-icon-clear am-icon" aria-hidden="true"></i>
                        </div>
                        <div class="am-list-button">
                            <button type="button" disabled="disabled">元</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="am-list k_cz">
                <button type="button" value="10" class="am-button tiny" style="width:27%; height:40px;">10元</button>
                <button type="button" value="20" class="am-button tiny" style="width:27%; height:40px;">20元</button>
                <button type="button" value="50" class="am-button tiny" style="width:27%; height:40px;">50元</button>
                <button type="button" value="100" class="am-button tiny" style="width:27%; height:40px;">100元</button>
                <button type="button" value="200" class="am-button tiny" style="width:27%; height:40px;">200元</button>
                <button type="button" value="500" class="am-button tiny" style="width:27%; height:40px;">500元</button>
            </div>
            <div class="am-button-wrap" style="width:90%;">
                <button type="submit" id="pay" class="am-button">立即支付</button>
            </div>
        </form>
    </div>
</div>
<script charset="utf-8" src="__JS__/jquery.min.js"></script>
<script charset="utf-8" src="__JS__/common.js"></script>
<script>
    $(function () {
        // 保存user_name
        SS('user_name','78-A3-51-15-DD-39');
        if (SS('user_name') === null || SS('user_name') === ''){
            SS('user_name','');
        }
        $("input[name='user_name']").val(SS('user_name'));
    });
    $('.tiny').click(function () {
        $('#amount').val($(this).val());
    });
    $(".am-button").click(function() {
        var reg1=/^\d+$/;
        var reg=/^([1-9]\d{0,5}(\.\d)?|0\.\d)$/;
        if(!reg.test($("input:text").val())||!reg1.test($("input:text").val())){
            alert("请您输入大于1元小于10万的规范数字");
            $('form').action="";
            return false;
        }
    });




    // 支付
//    $('#pay').click(function () {
//        alert('slkdj');
//        $.post(
//            '/index/pay/payrequest',
//            {amount:$('#amount').val()},
//            function (e) {
//                console.log(e);
//                alert('good');
//                callpay(e.js_api_parameters);
//            },'json'
//        )
//    })
</script>
</body>
</html>