<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script charset="utf-8" src="__JS__/jquery.min.js"></script>
    <script charset="utf-8" src="__JS__/common.js"></script>
    <title>清空session sessionStorage cookie</title>
</head>
<body>
<script>
    $(function () {
        localStorage.clear();
        clear_all_cookies();

        function clear_all_cookies(){
            var keys=document.cookie.match(/[^ =;]+(?=\=)/g);
            if (keys) {
                for (var i =  keys.length; i--;)
                    document.cookie=keys[i]+'=0;expires=' + new Date( 0).toUTCString()
            }
        }
    })
</script>
</body>
</html>